body {
    color: white;
    text-align: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    background-image: URL('../images/space.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% auto 72px
}

.header {
    grid-column: 1/4;
    grid-row: 1/2;
}

.footer {
    grid-column: 1/4;
    grid-row: 3/4;
}


h1 {
    font-family: 'Audiowide', cursive;
    font-size: 4em;
    text-shadow: 0 5px 0 black;
}

h2, h3 {
    text-shadow: 0 5px 0 black;
}

#gameContainer {
    background-color: rgba(0,0,0,.72);
    border-radius: 20px;
    padding: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
    visibility: hidden;
}

#cheekyComment{
    background-color: rgba(0,0,0,.72);
    border-radius: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 50px;
    visibility: visible;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    height: 72px;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 12px;
}

#portfolio-link {
    grid-column: 1/2;
    grid-row: 2/3;
    float: left;
    color: #18ffff;
    text-decoration: none;
    position: absolute;
    bottom: 10%;
    left: 3%;
}

#copyright {
    line-height: 44px;
}