body {
    color: white;
    text-align: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    background-image: URL('../images/space.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% auto 72px
}

.header {
    grid-column: 1/4;
    grid-row: 1/2;
}

.footer {
    grid-column: 1/4;
    grid-row: 3/4;
}


h1 {
    font-family: 'Audiowide', cursive;
    font-size: 4em;
    text-shadow: 0 5px 0 black;
}

h2, h3 {
    text-shadow: 0 5px 0 black;
}

h2 {
    color: #18ffff;
}

h5 {
    font-style: italic;
    color: rgba(255,255,255,.8);
    font-size: 12px;
}

hr {
    border: 1px solid rgba(255,255,255,.8);
    margin: 20px 0;
    clear: both;

}

#wins, #losses {
    float: left;
    text-align: center;
    width: 50%;
    font-size: 32px;
    margin-top: 0;
}

#spaces {
    font-size: 36px;
}

#gameContainer {
    background-color: rgba(0,0,0,.72);
    border-radius: 20px;
    padding: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
    visibility: hidden;
}

#endContainer {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(0,0,0,.72);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    visibility: hidden;

}

#planetPic{
    width: 100%;
    height: 370px;
    margin: -64px auto 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: 0
}

#planetName {
    z-index: 500
}

#planetFact{
    margin-top: -74px;
    margin-bottom: 55px;
}

#endMsg{
    margin-top: -260px;
    margin-bottom: 171px;
}

#toContinue {
    margin-top: -50px;
    margin-bottom: 50px;
}

#cheekyComment{
    background-color: rgba(0,0,0,.72);
    border-radius: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 50px;
    visibility: visible;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    height: 72px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #18ffff;;
}

p {
    font-size: 12px;
}

#portfolio-link {
    grid-column: 1/2;
    grid-row: 2/3;
    float: left;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 12%;
    left: 3%;
    text-shadow: 1px 1px 2px rgba(0,0,0,.85);
    transition-property: color;
    transition-duration: 1s;
}

#portfolio-link:hover{
    cursor: pointer;
    color: #18ffff;
}

#copyright {
    line-height: 44px;
}